accelerate==0.34.2
torch==2.1.2
transformers==4.49.0
torchvision==0.16.2
datasets==3.6.0
numpy==1.26.4
math-verify==0.7.0
wandb
webdataset
omegaconf
pyarrow==20.0.0
pandas
jaxtyping
diffusers==0.32.2
typeguard
image-reward
torchmetrics==1.6.2
trl==0.17.0
gradio==5.38.0
einops
python-Levenshtein
av
pycocotools==2.0.7
safetensors==0.5.3
-e ./lmms_eval

